.search-bar {
  display: flex;
  align-items: center;
  width: 90%;
  height: 32px;
  border-radius: 16px;
  margin: 20px auto;
  padding: 0 12px;
  background: var(--primarytext);
}

.search-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px; /* skubber søg... teskten lidt til højre */
  flex: none;
}

.search-input {
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
  background: transparent; /* så man ikke kan se søgefelt boksen */
}
