.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.step button {
  cursor: pointer; /* til desktop view udelukkende */
  font-size: 24px;
  font-family: Futura, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 0.2em 0;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primarytext);
  padding: 16px;
  width: 280px;
}

.lottie-container {
  width: 85%;
  margin: 0 auto;
}

/* step 3 */
.carousel {
  width: 100%;
}

/* step 4 */
.kort img {
  width: 80%;
  height: 50%;
}

.step4-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.later-btn {
  cursor: pointer;
}
