.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  gap: 32px;
}

.middle {
  gap: 0;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.step button {
  font-size: 24px;
  font-family: Futura, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 0.2em 0;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primarytext);
  padding: 16px;
  width: 280px;
}

.lottie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  height: 70%;
  width: 100%;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

/* step 3 */
.carousel {
  width: 100%;
}

.logo {
  width: 85%;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* step 4 */
.kort img {
  width: 80%;
  height: 50%;
}

.step4-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.later-btn {
  cursor: pointer;
}
